* {
    margin: 0;
    font-family: Inter, sans-serif;

}

.full-box{
    width: 1914px;
    margin: auto;
}

.navbar {
    display: flex;
    height: 92px;
    width: 1914px;
    position: fixed;
    transition: 0.3s;
    background: white;
    box-shadow: 0 5px 20px rgba(0,41,112,.1);
    z-index: 200;
}

.left-section {
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: right;
    align-items: center;
}

.left-section-logo {
    padding: 25px;
    width: 180px;
    height: 55.2344px;
    size: 50%;
    cursor: pointer;
}

.middle-section {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 40%;
    height: 100%;

}

.middle-header-contents {
    
    font-size: 17px;
    font-weight: 600;
    padding: 12px;
    cursor: pointer;

}

.middle-header-contents:hover{
   border-radius: 5px;
   transition: 0.2s;
    background-color: rgba(231,233,238,0.54);;
}



.right-section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 100%;
}

.account-info {
    width: 99.17px;
    height: 36px;
    margin-left: -280px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    background-color: #00BAF2;
    padding: 2px 2px 2px 20px;
    border-radius: 20px;
    color: white;
    font-weight: 600;
    cursor: pointer;
    font-size: 16px;
}

.account-info:hover{
    background-color: rgb(0, 41, 112); 
}

    
.account-info:hover .sign-in{
    background-image: url(https://pwebassets.paytm.com/commonwebassets/paytmweb/header/images/logoutImg.svg);
}


.sign-in{
    margin-left: 4px;
    width: 34px;
    height: 34px;
    margin-right: 5px;
    background-image: url(https://pwebassets.paytm.com/commonwebassets/paytmweb/header/images/loginImg.svg);
}




.kyc {
    font-family: Inter, sans-serif;
    height: 50px;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(231,233,238,0.54);
    font-size: 15px;
    color: black;
    padding-top: 93px;

}

.learn-more {
    margin-left: 5px;
    cursor: pointer;
    margin-top: 2px;
    font-weight: 600;

}

.smiley {
    font-size: 25px;
    margin-left: 5px;
    margin-right: 5px;
}

.kyc-contents {
    font-weight: 500;
}

